@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF";
  src: url("../fonts/SFPRODISPLAYMEDIUM.OTF");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SF", sans-serif;
}

@layer utilities {
  .primary-pink {
    @apply text-[#EB568E];
  }

  .primary-blue {
    @apply text-[#144EE3];
  }

  .bg-primary-pink {
    @apply bg-[#EB568E];
  }

  .bg-primary-blue {
    @apply bg-[#144EE3];
  }

  .background-black {
    @apply bg-[#0B101B];
  }

  .background-gray {
    @apply bg-[#181e29];
  }

  .background-light {
    @apply bg-[#C9CED6];
  }

  .text-black {
    @apply text-[#0B101B];
  }

  .text-gray {
    @apply text-[#181E29];
  }

  .text-light {
    @apply text-[#C9CED6];
  }

  .small-13-normal {
    @apply text-[13px];
  }

  .small-13-bold {
    @apply text-[13px] font-bold;
  }

  .basic-16-normal {
    @apply text-[16px];
  }

  .basic-16-bold {
    @apply text-[16px] font-bold;
  } 

  .title-24-normal {
    @apply text-[24px];
  }

  .title-24-bold {
    @apply text-[24px] font-bold;
  }

  .title-35-bold {
    @apply text-[35px] font-extrabold;
  }

  .large-60-bold {
    @apply text-[60px] font-extrabold;
  }

  .title-gradient {
    @apply bg-gradient-to-r from-[#144EE3] via-[#EB568E] to-[#144EE3] text-transparent bg-clip-text;
  }

  .logo-gradient {
    @apply bg-gradient-to-r from-[#EB568E] to-[#144EE3] text-transparent bg-clip-text;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .box-shadow {
    box-shadow: 10px 10px 24px -7px rgba(20, 78, 227, 0.9);
  }
}
